  <% if var.errors.any? %>
      <div class="row">
        <div class="col-md-offset-2 col-md-8 col-lg-8 col-lg-offset-2">
          <div class="panel panel-danger">
              <!--<div id="error_explanation">-->
                <div class="panel-heading">
                  <h2 class="text-center"><%= pluralize(var.errors.count, 'Error') %> </h2>
                </div>
                <div class="panel-body">
                    <ul class="text-danger">
                      <% var.errors.full_messages.each do |msg| %>
                          <li><%= msg %></li>
                      <% end %>
                    </ul>
                </div>
              <!--</div>-->
          </div>
        </div>
      </div>
  <% end %>