<div class="col-xs-6 col-sm-3  col-md-6 sidebar-offcanvas" id="sidebar" role="navigation">
    <div class="list-group">
        <a class="twitter-timeline img-responsive" href="https://twitter.com/ClovisWrestling" data-widget-id="439316942675931136" data-chrome="nofooter noheader transparent">Tweets by @ClovisWrestling</a>
        <a href="https://twitter.com/cloviswrestling" class="twitter-follow-button" data-show-count="true" data-lang="en">Follow @twitterapi</a>
    </div>
    <div class="list-group">
        <a href="https://www.facebook.com/pages/Clovis-Wrestling/89074663241"><%= image_tag 'fblikelogo.gif', class: 'img-responsive' %></a>
    </div>
</div>

<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>